*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*RESETS*/

/*line*/
.line{
    height: 1px;
    width: 100%;
    border-bottom: 3px solid rgba(255, 255, 255, 0.062);
}

/*highlight*/
span.highlight{
    color: rgb(24, 131, 67);
}

/*--------------------------HEADER---------------------------*/
header{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 12px;
    color: white;
    margin: 20px 0 0 20px;
}

header img {
    width: 40px;
    aspect-ratio: 1 / 1;
}

/*--------------------------BODY---------------------------*/
body{
    background-color: rgb(48, 48, 46);
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(193, 193, 193);
}